li {
    display: inline;
    padding: 5px;
}

.navbar-rs {
    float: right;
    display: flex;
    margin: 25px;
    background-color: white;
    
}

.rectangle {
    background-color: white;
    padding: 5px;
    border-bottom: 4px solid #FF3B8D;
}

.navbar {
    width: 100%;
    background-color: white;
}

body {
    background: rgb(130,255,202);
background: linear-gradient(180deg, rgba(130,255,202,1) 22%, rgba(255,103,167,1) 60%, rgba(255,215,0,1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: public-sans;
}

@font-face {
    font-family: mervale;
    src: url(assets/mervale-script.regular.otf);
}

@font-face {
    font-family: public-sans;
    src: url(assets/public-sans.regular.otf);
}

h1 {
    font-family: mervale;
}

h2 {
    font-family: 'Mina', sans-serif;
    text-align: center;
    font-size: 200%;
    margin: 50px;
}

@font-face{
    font-family: spinnaker;
    src: url(assets/spinnaker.regular.ttf);
}

.card-deck {
    margin: 50px;
    font-family: spinnaker;
}

.logo {
  margin-top: 10px;
  width: 60px;
}